body{
    background-color: #475b62;   
}

#nav-bar{
    background-color: white;
    width: 11%;
    padding: 6px;
    padding-right: 89%;
    margin-top: -7px;
    margin-left: -7px;
    padding-right: 89.7%;
    align-items: center;
    display: inline-flex;
}




#c-btn{
    background-color:white;
    color:#475b62;
    border:none;
    size: 10px;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    top: 50%;
}


#menu-bar{
    width: 0;
    position: fixed;
    border-top-right-radius: 10ypx;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(14, 13, 13);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: rgb(116, 114, 114);
    height: 100vh;
    text-align: center;
}

#menu-bar h4{
    cursor: pointer;
    color: gray;
    border-bottom: 1px solid;
    text-align: center;
    padding-bottom: 18px;
}
#menu-bar h4:hover{
    color: white;
}
#p-info{
    background-image: linear-gradient(to bottom,rgb(5, 58, 75),rgb(43, 184, 231));
    /* background-image: linear-gradient(to bottom,rgb(5, 13, 15),rgb(82, 84, 85)); */
    /* background-image: url('https://i.picsum.photos/id/1027/2848/4272.jpg?hmac=EAR-f6uEqI1iZJjB6-NzoZTnmaX0oI0th3z8Y78UpKM'); */
    height: 150px;
    margin-top: -81px;
    width: 100%;
}

#p-info h4{
    position: relative;
    top: 70%;
    color: white;
    border-bottom: none;
    padding: 0px;

}
#id-pic{
    height: 40%;
     width: 30%; 
     border-radius: 50%; 
     position: relative;
     left: -34%;
     top: 31%;
    }

    .material-icons{
        background-color: white;
        border: none;
        font-size: 20px;
        position: relative;
        left: 90%;
        color:#475b62;
        cursor: pointer;
    }

    #not-no{
        background-color: red;
        color: white;
        border-radius: 50%;
        position: relative;
        left: 12%;
        top: -11px;
        padding-left: 5px;
        padding-right: 4px;
        opacity: 0;
    }

    .material-icons:hover{
        color:black;
    }


#serch{
    /* border-radius: 5px; */
    background-color: rgb(228, 222, 222);
    border: 1px solid #475b62;
    position: relative;
    left: 458%;
    color: rgb(0, 0, 0);
    margin-left: -142%;
    outline: none;
    padding: 5px;
    padding-right: 150px;
}

#notification-icon-and-count{
    /* align-items: center; */
    /* margin-top: px; */
    padding-left: 694%;
}

#notifications-display{
    position: relative;
    left: 87%;
    background-color: white;
    text-align: center;
    width:10%;
    align-items: center;
    /* padding-top: 0px; */
    height: 0px;

    /* padding:0px; */
    display: inline-block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow-x: hidden;
    transition:  1s;
    /* white-space: pre-line; */
}

#notifications-display h4{
    border-bottom:1px solid rgb(150, 147, 147);
    background-color: rgb(219, 210, 210);
    padding:15px;
    margin: 0px;
    
}
#notifications-display h4:hover{
    background-color: white;
}

.fa-search{
outline: none;
cursor: pointer;
/* background-color: red; */
border: none;
border: none;
position: relative;
left: 442%;
padding: 5px;

}

.fa-search:hover{
    background-color: white;
}

#chat{
    color: white;
    position: fixed;
    left: 190vh;
    font-size: 40px;
    top: 90vh;
    cursor: pointer;
}